# See https://curiousconcept.com/next-js-gitignore
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
.next
.vercel
.out
.build

# dev dependencies
.next-env.d.ts
.eslint
.vercel/build.linux-x64
.vercel/build.linux-arm64
.vercel/build.linux-arm64eabi
.vercel/build.linux-x64-musl
.vercel/build.win32-x64-msvc
.vercel/build.win32-x64-msvc-zlib1g
.vercel/build.win32-ia32-msvc
.vercel/build.win32-ia32-msvc-zlib1g

# misc
.DS_Store
next-debug.html
.vercel/client/**/__next_preview_build__/**
.vercel/client/**/__next_preview_chunk_map__**
.vercel/client/**/__next_preview_data__**

# local env files
.env.local
.env.development.local
.env.production.local
.env.test.local
